<ion-header>
  <ion-navbar>
    <ion-title>
      Bookings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
        <button ion-button (click)="onGet()">Get Bookings</button>
     
<div *ngFor="let server of bookings">
 <ion-card>
   <ion-card-header text-wrap >
     <b> {{server.listingName}}</b>

    </ion-card-header>
     <ion-card-content >
 
         <ion-grid>
           <ion-row>
             <ion-col>

            <img src="{{server.imageUrl}}" width="240px" height="240px">
  
           <ion-icon name="locate"></ion-icon> {{server.location}}
           <b id="cal">{{server.serviceType}}</b>
           <b id="bookingstatus">{{server.bookingStatus}}</b>
             </ion-col>
           </ion-row>
         </ion-grid>
                    <hr>
    <ion-grid>
  <ion-row>
    <ion-col col-4>
 <ion-icon name="calendar" ></ion-icon>2 Days<br>
{{server.startDate}} 
      <ion-icon name="arrow-round-forward"></ion-icon> {{server.endDate}}
    </ion-col>

<ion-col col-4>
  <ion-icon name="person"></ion-icon>
  <b style="color:blue;">  {{server.adults + server.children + server.infants}} Guests </b><br>
  <b> Adults:</b> {{server.adults}} ,<b> Age 5-12 :</b> {{server.children}}<br>
  <b> Age below 5:</b> {{ server.infants}}
</ion-col>

    <ion-col col-4>
 Total Amount <b id="amt">£{{server.priceAmount}}</b>
 <button ion-button  outline color="danger">View Details</button>
<button ion-button  outline color="danger" (click)= 'display()'>Cancel</button>
    </ion-col>
  </ion-row>
    </ion-grid>

    </ion-card-content>
 </ion-card>
</div>  
</ion-content>
