page-home {

}
#bookingstatus{
    color: green;
}
#cal{
    color: blue;
}
.body{
    letter-spacing: 2px;
}
#amt{
    color: red;
    
}

.divider{
    position:absolute;
    left:40%;
    top:53%;
    bottom:30%;
    border-left:1px solid lightgrey;
}